/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2015, 5:47:16 PM
    Author     : sbc
*/

.menu-articles .menu-article{
    background: #FaFaFa;
    border: 1px solid #eee;
    padding:5px;
}

.menu-articles .menu-article .img-wrapper{
    height: 150px;
    overflow: hidden;
}

.menu-articles .menu-article img{
    width:100%;

}

.cms-list-prices div{
    display: inline-block;
}

.cms-list-prices .article-current-price{
    color:#c00;
    font-size:16px;
    font-weight: bold;
    margin-right: 5px;
}

.cms-list-prices .article-previous-price{
    font-size:14px;
    text-decoration: line-through;
}
